body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f3f2ef; /* LinkedIn background */
}

.linkedin-downloader {
  text-align: center;
  padding: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  width: 100%;
  max-width: 500px;
}

input:focus {
  border-color: #0a66c2; /* LinkedIn blue */
  box-shadow: 0 0 0 0.25rem rgba(14, 118, 168, 0.25);
  outline: none;
}

.linkedin-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0a66c2; /* LinkedIn blue */
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  margin-top: 10px;
  max-width: 500px;
}

.linkedin-button:hover {
  background-color: #084c8d; /* Darker LinkedIn blue */
}

.video-info {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.video-info h2 {
  color: #333;
}

.video-info p {
  margin: 5px 0;
}

.Toastify__toast-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.Toastify__toast {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spinner-container {
  text-align: center;
  margin-top: 80px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #0a66c2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
